@page

@* @model itla_virtual.Views.Forms.QuestModel *@

<script>
    document.addEventListener("DOMContentLoaded", function (){
    addQuestion();
    });
</script>

<div>
    <button onclick="addQuestion()">
        Añadir pregunta
    </button>
</div>

<div id="lista_preguntas">

</div>

@{
    
}
